import { WebPartContext } from '@microsoft/sp-webpart-base';
import { LogLevel, PnPLogging } from '@pnp/logging';
import { spfi, SPFI, SPFx as spSPFx } from '@pnp/sp';
import '@pnp/sp/webs';
import '@pnp/sp/lists';
import '@pnp/sp/items';
import '@pnp/sp/fields';
import '@pnp/sp/files';
import '@pnp/sp/batching';
import '@pnp/sp/security';
import { IWeb, Web } from '@pnp/sp/webs';

let _sp: SPFI;
let _context: WebPartContext;
let _web: IWeb;

export const getSP = (context?: WebPartContext): SPFI => {
  if (context) {
    _sp = spfi().using(spSPFx(context)).using(PnPLogging(LogLevel.Warning));
    _context = context;
  }
  return _sp;
};

export const getContext = (): WebPartContext => {
  return _context;
};

export const getWeb = (absUrl: string): IWeb => {
  if (absUrl) {
    _web = Web(absUrl).using(spSPFx(_context)).using(PnPLogging(LogLevel.Warning));
  }
  return _web;
};